body, html
{
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
a:hover:focus{text-decoration:underline; color: red ;}
#username:hover{color: white;text-decoration:underline}
#barrita
{
	display: block;
	height: 35px;
	width: 99%;
	background-color: black;
	/* margin: 5px 0 0 3px; */
	color: white;
	font-size: 15px;
	padding: 10px 0 0 15px;
	position: relative;
}

#contenedor
{
	display: block;
	width: 800px;
	min-height: 500px;
	margin: 20px auto 0 auto;
	padding: 0;
}

#columna-contenido
{
	display: block;
	width: 550px;
	height: 400px;
	/* background-color: yellow; */
	float: left;
	/*border: 1px  #aaa;*/
	padding: 20px;
}

#columna-navegacion
{
	display: block;
	width: 150px;
	height: 350px;
	/* background-color: green; */
	float: right;
	border: 1px dashed #aaa;
	padding: 20px;
}

#prueba
{
	display: block;
	width: 200px;
	height: 350px;
	background-color: black;
}

.clearer
{
	clear: both;
}

#pie
{
	float: right;
}
