#tuits
{
    box-shadow: -2px 4px 8px #999;
    margin-top: 18px;
    padding: 9px;
    border-style: outset;
    border-radius: 10px;
}

.user-name
{
    padding-left: 20px;
    padding-right: 24px;
    font-size: 18px;
    background-color: #336699;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-transform: uppercase;
    border-radius: 4px;
}

.tuit-mensaje
{
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: slategray;
    text-transform: capitalize;
    font-size: 12px;
}

.favorito
{
}