﻿<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<title>{% block titulo %}Tuiter{% endblock %}</title>
		{% load static from staticfiles %}
		<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}" />
		<script type = "text/javascript" src = "{% static 'js/jquery-2.0.3.js' %}"></script>
		<script type = "text/javascript" src = "{% static 'js/base.js' %}"></script>
	</head>
	<body>
		<div id = "barrita">
			{% if user %}
				<a href="/perfil/" id="username">{{ user.username }}</a>
				<a href = "/usuario/logout/">Cerrar sesión</a>
				<div id = "cambiar">
					<a href = "/usuario/cambiarcontrasenia/">Cambiar Contraseña</a>
				</div>
			{% endif %}
		</div>

		</div>
		<div id = "contenedor">
			<div id = "columna-contenido">
				{% block contenido %}{% endblock %}
			</div>
			<div id = "columna-navegacion">
				{% if user %}
				<li><a href = "/perfil/">Mi perfil</a></li>
				<li><a href = "/timeline/">Mi timeline</a></li>
				<li><a href = "/favoritos/">Favoritos</a></li>
				{% endif %}

			</div>
			<div class = "clearer"></div>
		</div>
		<div id = "pie">
					<p>POWERED BY DJANGO</p>
		</div>

	</body>
</html>
