{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenido %}


<form  name="cambiar-pass" method="post" action = "/usuario/resetpass/" >
	<fieldset>
		<legend>Desea cambiar su password?</legend>

		<div><label><em>*</em>Password Antiguo:</label>
			<input type="password" name="old-pass" value=""/>
		</div>

		<div><label><em>*</em>Nuevo Password:</label>
						<input type="password" name="new-pass" value=""/>
			</div>

			<div><label><em>*</em>Confirmar Nuevo Password:</label>
						<input type="password" name="new-pass2" value=""/>
			</div>

	</fieldset>
	{% if mensaje %}
		<div><label><em>*</em>{{ mensaje }}</label>
		</div>

	{% endif %}

	<button id="agregar">Cambiar Password</button>
</form>


{% endblock %}

