{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenido %}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/tuits.css' %}" />

	{% if favoritos %}
		{% for favorito in favoritos %}
			<div id="tuits">
				<span class="user-name">{{ user.username }}</span><br/>
				<span class="tuit-mensaje">{{ favorito.tuit.mensaje }}</span>
				<br/>
				<br/>
				</div>
		{% endfor %}
	{% endif %}
{% endblock %}