{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenido %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/tuits.css' %}" />

	{% if user.username != usuario_perfil.username %}
		{% if seguimiento %}
			<form method = "post" action = "/perfil/dejar-seguir/">
				<input type="hidden" name="seguido" value="{{ usuario_perfil.id }}">
				<button type="submit">No seguir</button>
			</form>
		{% else %}
			<form method = "post" action = "/perfil/seguir/">
				<input type="hidden" name="seguido" value="{{ usuario_perfil.id }}">
				<button type="submit">Seguir</button>
			</form>
		{% endif %}
	{% endif %}

	{% if tuits %}
    	{% for tuit in tuits %}
			<div id="tuits">
				<span class="user-name">{{ tuit.usuario.username }}</span><br/>
				<span class="tuit-mensaje">{{ tuit.mensaje }}</span>
                <br/>
                <br/>
			</div>
		{% endfor %}
    {% endif %}

{% endblock %}