{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenido %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/tuits.css' %}" />
	<form method = "post" action = "/perfil/tuitear/">
		<textarea name = "tuit" maxlength="255"></textarea>
		<button type = "submit">Enviar</button>
	</form>
	{% if tuits %}
        {% for tuit in tuits %}
			<div id="tuits">
				<span class="user-name">{{ tuit.usuario.username }}</span><br/>
				<span class="tuit-mensaje">{{ tuit.mensaje }}</span>
                <br/>
                <br/>
                {% if tuit.id not in tuits_favoritos  %}
                    <form method="post" action="/favorito/agregar/">
                        <input type="hidden" value="{{ tuit.id }}" name="id-tuit" />
                        <button class="favorito" type="submit">Favorito</button>
                    </form>
                {% else %}
                    <form method="post" action="/favorito/quitar/">
                        <input type="hidden" value="{{ tuit.id }}" name="id-tuit" />
                        <button class="favorito" type="submit">No Favorito</button>
                    </form>
                {% endif %}
			</div>
		{% endfor %}
    {% endif %}
{% endblock %}